In [1]:
import json
import pandas as pd

from vizier.datastore.profiling.datamart import run

In [2]:
df = pd.DataFrame(data=[[1, 2, 'A'], [2, 3, 'B'], [4, 5, 'C']], columns=['A', 'B', 'A'])
metadata = run(df)

In [3]:
print(json.dumps(metadata, indent=4))

{
    "nb_rows": 3,
    "nb_profiled_rows": 3,
    "columns": [
        {
            "name": "A",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 3,
            "mean": 2.3333333333333335,
            "stddev": 1.247219128924647,
            "coverage": [
                {
                    "range": {
                        "gte": 1.0,
                        "lte": 1.0
                    }
                },
                {
                    "range": {
                        "gte": 2.0,
                        "lte": 2.0
                    }
                },
                {
                    "range": {
                        "gte": 4.0,
                        "lte": 4.0
                    }
                }
            ]
        },
        {
            "name": "B",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 3,
            "mean": 3.3333333333333335,
            "stddev": 1.247219128924647,
            "coverage": [
                {
                    "range": {
                        "gte": 2.0,
                        "lte": 2.0
                    }
                },
                {
                    "range": {
                        "gte": 3.0,
                        "lte": 3.0
                    }
                },
                {
                    "range": {
                        "gte": 5.0,
                        "lte": 5.0
                    }
                }
            ]
        },
        {
            "name": "A",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 3
        }
    ]
}

In [4]:
df = pd.read_csv('../data/etnx-8aft.tsv', delimiter='\t')

In [5]:
print(json.dumps(run(df), indent=4))

{
    "nb_rows": 10,
    "nb_profiled_rows": 10,
    "columns": [
        {
            "name": "Calendar Year",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 5,
            "mean": 2016.0,
            "stddev": 1.4142135623730951,
            "coverage": [
                {
                    "range": {
                        "gte": 2014.0,
                        "lte": 2015.0
                    }
                },
                {
                    "range": {
                        "gte": 2016.0,
                        "lte": 2016.0
                    }
                },
                {
                    "range": {
                        "gte": 2017.0,
                        "lte": 2018.0
                    }
                }
            ]
        },
        {
            "name": "Gender",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 2
        },
        {
            "name": "Physical Abuse",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 10,
            "mean": 79.1,
            "stddev": 14.48067677976413,
            "coverage": [
                {
                    "range": {
                        "gte": 57.0,
                        "lte": 76.0
                    }
                },
                {
                    "range": {
                        "gte": 88.0,
                        "lte": 89.0
                    }
                },
                {
                    "range": {
                        "gte": 98.0,
                        "lte": 105.0
                    }
                }
            ]
        },
        {
            "name": "Sexual Abuse",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 10,
            "mean": 174.3,
            "stddev": 108.94957549251856,
            "coverage": [
                {
                    "range": {
                        "gte": 52.0,
                        "lte": 63.0
                    }
                },
                {
                    "range": {
                        "gte": 95.0,
                        "lte": 95.0
                    }
                },
                {
                    "range": {
                        "gte": 259.0,
                        "lte": 306.0
                    }
                }
            ]
        },
        {
            "name": "Risk of Sexual Abuse",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 9,
            "mean": 63.9,
            "stddev": 30.306599941266914,
            "coverage": [
                {
                    "range": {
                        "gte": 21.0,
                        "lte": 54.0
                    }
                },
                {
                    "range": {
                        "gte": 61.0,
                        "lte": 89.0
                    }
                },
                {
                    "range": {
                        "gte": 134.0,
                        "lte": 134.0
                    }
                }
            ]
        },
        {
            "name": "Risk of Harm",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 9,
            "mean": 227.7,
            "stddev": 33.68694108998322,
            "coverage": [
                {
                    "range": {
                        "gte": 177.0,
                        "lte": 216.0
                    }
                },
                {
                    "range": {
                        "gte": 244.0,
                        "lte": 267.0
                    }
                },
                {
                    "range": {
                        "gte": 293.0,
                        "lte": 293.0
                    }
                }
            ]
        },
        {
            "name": "Emotional/Neglect",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 7,
            "mean": 21.2,
            "stddev": 5.287721626560914,
            "coverage": [
                {
                    "range": {
                        "gte": 14.0,
                        "lte": 18.0
                    }
                },
                {
                    "range": {
                        "gte": 20.0,
                        "lte": 24.0
                    }
                },
                {
                    "range": {
                        "gte": 27.0,
                        "lte": 29.0
                    }
                }
            ]
        }
    ]
}

In [6]:
df

,Calendar Year,Gender,Physical Abuse,Sexual Abuse,Risk of Sexual Abuse,Risk of Harm,Emotional/Neglect
0,2018,Male,98,60,21,293,29
1,2018,Female,69,306,54,253,29
2,2017,Male,89,62,47,267,17
3,2017,Female,70,286,36,244,18
4,2016,Male,76,52,47,212,17
5,2016,Female,57,259,68,216,20
6,2015,Male,105,63,61,212,24
7,2015,Female,66,275,89,207,27
8,2014,Male,88,95,82,196,14
9,2014,Female,73,285,134,177,17

In [7]:
from openclean.op import insrow

df = insrow(df)

In [8]:
df

,Calendar Year,Gender,Physical Abuse,Sexual Abuse,Risk of Sexual Abuse,Risk of Harm,Emotional/Neglect
0,2018.0,Male,98.0,60.0,21.0,293.0,29.0
1,2018.0,Female,69.0,306.0,54.0,253.0,29.0
2,2017.0,Male,89.0,62.0,47.0,267.0,17.0
3,2017.0,Female,70.0,286.0,36.0,244.0,18.0
4,2016.0,Male,76.0,52.0,47.0,212.0,17.0
5,2016.0,Female,57.0,259.0,68.0,216.0,20.0
6,2015.0,Male,105.0,63.0,61.0,212.0,24.0
7,2015.0,Female,66.0,275.0,89.0,207.0,27.0
8,2014.0,Male,88.0,95.0,82.0,196.0,14.0
9,2014.0,Female,73.0,285.0,134.0,177.0,17.0
-1,NaN,None,NaN,NaN,NaN,NaN,NaN

In [9]:
print(json.dumps(run(df), indent=4))

{
    "nb_rows": 11,
    "nb_profiled_rows": 11,
    "columns": [
        {
            "name": "Calendar Year",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 6
        },
        {
            "name": "Gender",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 3
        },
        {
            "name": "Physical Abuse",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 11
        },
        {
            "name": "Sexual Abuse",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 11
        },
        {
            "name": "Risk of Sexual Abuse",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 10
        },
        {
            "name": "Risk of Harm",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 10
        },
        {
            "name": "Emotional/Neglect",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 8
        }
    ]
}