In [13]:
import os

from vizier.datastore.histore.base import HistoreDatastore
from vizier.filestore.fs.base import FileSystemFilestore


TMP_DIR = '../.tmp'

fstore = FileSystemFilestore(os.path.join(TMP_DIR, 'fs'))
dstore = HistoreDatastore(os.path.join(TMP_DIR, 'ds'))

In [14]:
fh = fstore.upload_file('../data/etnx-8aft.tsv')

In [15]:
from vizier.engine.packages.vizual.api.openclean import OpencleanVizualApi

api = OpencleanVizualApi()

In [16]:
r = api.load_dataset(datastore=dstore, filestore=fstore, file_id=fh.identifier, infer_types='datamartprofiler')

ds = r.dataset
dsid = ds.identifier

In [17]:
r = api.insert_row(identifier=dsid, position=1, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [18]:
r = api.insert_column(identifier=dsid, name='My Col', position=1, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [19]:
r = api.move_column(identifier=dsid, column_id=ds.columns[1].identifier, position=8, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [20]:
r = api.move_row(identifier=dsid, rowid=10, position=0, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [21]:
r = api.rename_column(identifier=dsid, column_id=ds.columns[-1].identifier, name='nocol', datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [22]:
r = api.delete_column(identifier=dsid, column_id=ds.columns[-1].identifier, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [23]:
r = api.delete_row(identifier=dsid, rowid=10, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [26]:
r = api.sort_dataset(
    identifier=dsid,
    columns=[ds.columns[0].identifier, ds.columns[1].identifier],
    reversed=[False, True],
    datastore=dstore
)

ds = r.dataset
dsid = ds.identifier

In [28]:
r = api.update_cell(identifier=dsid, columns=[], names=[], datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [31]:
r = api.filter_columns(
    identifier=dsid,
    columns=[ds.columns[0].identifier, ds.columns[1].identifier, ds.columns[2].identifier],
    names=['Year', 'Gender', 'Abuse'],
    datastore=dstore,
)

ds = r.dataset
dsid = ds.identifier

In [32]:
ds.to_dataframe()

   Year  Gender  Abuse
8  2014    Male     99
9  2014  Female     73
6  2015    Male    105
7  2015  Female     66
4  2016    Male     76
5  2016  Female     57
2  2017    Male     89
3  2017  Female     70
0  2018    Male     98
1  2018  Female     69

In [33]:
# Clean up the temp directory
import shutil

shutil.rmtree(TMP_DIR)