In [1]:
import os

from vizier.datastore.histore.base import HistoreDatastore
from vizier.filestore.fs.base import FileSystemFilestore


TMP_DIR = '../.tmp'

fstore = FileSystemFilestore(os.path.join(TMP_DIR, 'fs'))
dstore = HistoreDatastore(os.path.join(TMP_DIR, 'ds'))

In [2]:
fh = fstore.upload_file('../data/etnx-8aft.tsv')

In [3]:
from vizier.engine.packages.vizual.api.openclean import OpencleanVizualApi

api = OpencleanVizualApi()

In [4]:
r = api.load_dataset(datastore=dstore, filestore=fstore, file_id=fh.identifier, infer_types='datamartprofiler')

ds = r.dataset
dsid = ds.identifier

In [5]:
df = ds.to_dataframe()
for x in df['Calendar Year']:
    print('{} {}'.format(x, type(x)))

2018 <class 'int'>
2018 <class 'int'>
2017 <class 'int'>
2017 <class 'int'>
2016 <class 'int'>
2016 <class 'int'>
2015 <class 'int'>
2015 <class 'int'>
2014 <class 'int'>
2014 <class 'int'>

In [6]:
ds.row_count

10

In [7]:
import json
print(json.dumps(ds.profile(), indent=4))

{
    "nb_rows": 10,
    "nb_profiled_rows": 10,
    "columns": [
        {
            "name": "Calendar Year",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 5,
            "mean": 2016.0,
            "stddev": 1.4142135623730951,
            "coverage": [
                {
                    "range": {
                        "gte": 2014.0,
                        "lte": 2015.0
                    }
                },
                {
                    "range": {
                        "gte": 2016.0,
                        "lte": 2016.0
                    }
                },
                {
                    "range": {
                        "gte": 2017.0,
                        "lte": 2018.0
                    }
                }
            ]
        },
        {
            "name": "Gender",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 2
        },
        {
            "name": "Physical Abuse",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 10,
            "mean": 79.1,
            "stddev": 14.48067677976413,
            "coverage": [
                {
                    "range": {
                        "gte": 57.0,
                        "lte": 76.0
                    }
                },
                {
                    "range": {
                        "gte": 88.0,
                        "lte": 89.0
                    }
                },
                {
                    "range": {
                        "gte": 98.0,
                        "lte": 105.0
                    }
                }
            ]
        },
        {
            "name": "Sexual Abuse",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 10,
            "mean": 174.3,
            "stddev": 108.94957549251856,
            "coverage": [
                {
                    "range": {
                        "gte": 52.0,
                        "lte": 63.0
                    }
                },
                {
                    "range": {
                        "gte": 95.0,
                        "lte": 95.0
                    }
                },
                {
                    "range": {
                        "gte": 259.0,
                        "lte": 306.0
                    }
                }
            ]
        },
        {
            "name": "Risk of Sexual Abuse",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 9,
            "mean": 63.9,
            "stddev": 30.306599941266914,
            "coverage": [
                {
                    "range": {
                        "gte": 21.0,
                        "lte": 54.0
                    }
                },
                {
                    "range": {
                        "gte": 61.0,
                        "lte": 89.0
                    }
                },
                {
                    "range": {
                        "gte": 134.0,
                        "lte": 134.0
                    }
                }
            ]
        },
        {
            "name": "Risk of Harm",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 9,
            "mean": 227.7,
            "stddev": 33.68694108998322,
            "coverage": [
                {
                    "range": {
                        "gte": 177.0,
                        "lte": 216.0
                    }
                },
                {
                    "range": {
                        "gte": 244.0,
                        "lte": 267.0
                    }
                },
                {
                    "range": {
                        "gte": 293.0,
                        "lte": 293.0
                    }
                }
            ]
        },
        {
            "name": "Emotional/Neglect",
            "structural_type": "http://schema.org/Integer",
            "semantic_types": [],
            "unclean_values_ratio": 0.0,
            "num_distinct_values": 7,
            "mean": 21.2,
            "stddev": 5.287721626560914,
            "coverage": [
                {
                    "range": {
                        "gte": 14.0,
                        "lte": 18.0
                    }
                },
                {
                    "range": {
                        "gte": 20.0,
                        "lte": 24.0
                    }
                },
                {
                    "range": {
                        "gte": 27.0,
                        "lte": 29.0
                    }
                }
            ]
        }
    ]
}

In [8]:
for column in ds.columns:
    print('{} {} {}'.format(column.identifier, column.name, column.data_type))

0 Calendar Year int
1 Gender varchar
2 Physical Abuse int
3 Sexual Abuse int
4 Risk of Sexual Abuse int
5 Risk of Harm int
6 Emotional/Neglect int

In [9]:
r = api.insert_row(identifier=dsid, position=1, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [10]:
print(json.dumps(ds.profile(), indent=4))

{
    "nb_rows": 11,
    "nb_profiled_rows": 11,
    "columns": [
        {
            "name": "Calendar Year",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 6
        },
        {
            "name": "Gender",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 3
        },
        {
            "name": "Physical Abuse",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 11
        },
        {
            "name": "Sexual Abuse",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 11
        },
        {
            "name": "Risk of Sexual Abuse",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 10
        },
        {
            "name": "Risk of Harm",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 10
        },
        {
            "name": "Emotional/Neglect",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 8
        }
    ]
}

In [11]:
df = ds.to_dataframe()
for x in df['Calendar Year']:
    print('{} {}'.format(x, type(x)))

2018.0 <class 'float'>
nan <class 'float'>
2018.0 <class 'float'>
2017.0 <class 'float'>
2017.0 <class 'float'>
2016.0 <class 'float'>
2016.0 <class 'float'>
2015.0 <class 'float'>
2015.0 <class 'float'>
2014.0 <class 'float'>
2014.0 <class 'float'>

In [12]:
for column in ds.columns:
    print('{} {} {}'.format(column.identifier, column.name, column.data_type))

0 Calendar Year varchar
1 Gender varchar
2 Physical Abuse varchar
3 Sexual Abuse varchar
4 Risk of Sexual Abuse varchar
5 Risk of Harm varchar
6 Emotional/Neglect varchar

In [13]:
r = api.insert_column(identifier=dsid, name='My Col', position=1, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [14]:
print(json.dumps(ds.profile(), indent=4))

{
    "nb_rows": 11,
    "nb_profiled_rows": 11,
    "columns": [
        {
            "name": "Calendar Year",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 6
        },
        {
            "name": "My Col",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [
                "http://schema.org/Enumeration"
            ],
            "num_distinct_values": 1
        },
        {
            "name": "Gender",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 3
        },
        {
            "name": "Physical Abuse",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 11
        },
        {
            "name": "Sexual Abuse",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 11
        },
        {
            "name": "Risk of Sexual Abuse",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 10
        },
        {
            "name": "Risk of Harm",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 10
        },
        {
            "name": "Emotional/Neglect",
            "structural_type": "http://schema.org/Text",
            "semantic_types": [],
            "num_distinct_values": 8
        }
    ]
}

In [15]:
for column in ds.columns:
    print('{} {} {}'.format(column.identifier, column.name, column.data_type))

0 Calendar Year varchar
7 My Col categorical
1 Gender varchar
2 Physical Abuse varchar
3 Sexual Abuse varchar
4 Risk of Sexual Abuse varchar
5 Risk of Harm varchar
6 Emotional/Neglect varchar

In [16]:
ds.row_count

11

In [17]:
r = api.move_column(identifier=dsid, column_id=ds.columns[1].identifier, position=8, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [18]:
r = api.move_row(identifier=dsid, rowid=10, position=0, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [19]:
r = api.rename_column(identifier=dsid, column_id=ds.columns[-1].identifier, name='nocol', datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [20]:
r = api.delete_column(identifier=dsid, column_id=ds.columns[-1].identifier, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [21]:
r = api.delete_row(identifier=dsid, rowid=10, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [22]:
r = api.sort_dataset(
    identifier=dsid,
    columns=[ds.columns[0].identifier, ds.columns[1].identifier],
    reversed=[False, True],
    datastore=dstore
)

ds = r.dataset
dsid = ds.identifier

In [23]:
ds.to_dataframe()

,Calendar Year,Gender,Physical Abuse,Sexual Abuse,Risk of Sexual Abuse,Risk of Harm,Emotional/Neglect
8,2014,Male,88,95,82,196,14
9,2014,Female,73,285,134,177,17
6,2015,Male,105,63,61,212,24
7,2015,Female,66,275,89,207,27
4,2016,Male,76,52,47,212,17
5,2016,Female,57,259,68,216,20
2,2017,Male,89,62,47,267,17
3,2017,Female,70,286,36,244,18
0,2018,Male,98,60,21,293,29
1,2018,Female,69,306,54,253,29

In [24]:
r = api.update_cell(identifier=dsid, column_id=ds.columns[2].identifier, row_id=9, value=99, datastore=dstore)

ds = r.dataset
dsid = ds.identifier

In [25]:
r = api.filter_columns(
    identifier=dsid,
    columns=[ds.columns[0].identifier, ds.columns[1].identifier, ds.columns[2].identifier],
    names=['Year', 'Gender', 'Abuse'],
    datastore=dstore,
)

ds = r.dataset
dsid = ds.identifier

In [26]:
ds.to_dataframe()

   Year  Gender  Abuse
8  2014    Male     88
9  2014  Female     99
6  2015    Male    105
7  2015  Female     66
4  2016    Male     76
5  2016  Female     57
2  2017    Male     89
3  2017  Female     70
0  2018    Male     98
1  2018  Female     69

In [27]:
# Clean up the temp directory
import shutil

shutil.rmtree(TMP_DIR)